<!DOCTYPE html>
<html lang="en">

{% include "admin/layout/head.html" %}

<body class="g-sidenav-show   bg-gray-100">
  <div class="min-height-300 bg-primary position-absolute w-100"></div>
  {% include "admin/layout/menu.html" %}
  <main class="main-content position-relative border-radius-lg ">
    <!-- Navbar -->
    {% include "admin/layout/navba.html" %}
    <!-- End Navbar -->
    {% block main_content %}

    {% endblock %}

  </main>
  {% include "admin/layout/configerator.html" %}

  {% include "admin/layout/footer_js.html" %}

  {% block vue %}

  {% endblock %}
</body>

</html>