{% extends "admin/layout.html" %}
{% block main_content %}
<div id="app">
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-header pb-0">
                        <h6>Product Table</h6>
                        <div class="ml-3 float-end">
                            <div class="btn btn-outline-primary" data-bs-toggle="modal"
                                data-bs-target="#exampleModalSignUp" @click="show_add_product_modal">Add</div>
                        </div>
                    </div>
                    <div class="card-body px-0 pt-0 pb-2">
                        <div class="table-responsive p-0">
                            <table class="table align-items-center mb-0">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Code</th>
                                        <th>Image</th>
                                        <th>Name</th>
                                        <th>Cost</th>
                                        <th>Category</th>
                                        <th>Price</th>
                                        <th>Current Stock</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(product, index) in products" :key="product.id">
                                        <td>[[ index + 1 ]]</td>
                                        <td>[[ product.code ]]</td>
                                        <td>
                                            <img :src="product.image" class="avatar avatar-sm" alt="Product image">
                                        </td>
                                        <td>[[ product.name ]]</td>
                                        <td>[[ product.cost ]]</td>
                                        <td>[[ product.category ]]</td>
                                        <td>[[ product.price ]]</td>
                                        <td>[[ product.current_stock ]]</td>
                                        <td>
                                            <div class="btn btn-primary" @click="show_edit_product_modal(product)">Edit
                                            </div>
                                            <div class="btn btn-warning" @click="confirmDelete(product.id)">Delete
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for Adding Product -->
    <div class="modal fade" id="addModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalSignTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-md" role="document">
            <div class="modal-content">
                <div class="modal-body p-0">
                    <div class="card card-plain">
                        <div class="card-header pb-0 text-left">
                            <h3 class="font-weight-bolder text-primary text-gradient">Product</h3>
                            <p class="mb-0">Enter Product Information</p>
                        </div>
                        <div class="card-body pb-3">
                            <form role="form text-left">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Product Code</label>
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" placeholder="Product Code"
                                                v-model="newProduct.code" />
                                        </div>

                                        <label>Product Name</label>
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" placeholder="Product Name"
                                                v-model="newProduct.name" />
                                        </div>


                                        <label>Cost</label>
                                        <div class="input-group mb-3">
                                            <input type="number" class="form-control" placeholder="Cost"
                                                v-model="newProduct.cost" />
                                        </div>

                                        <label>Current Stock</label>
                                        <div class="input-group mb-3">
                                            <input type="number" class="form-control" placeholder="Current Stock"
                                                v-model="newProduct.current_stock" />
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <label>Category</label>
                                        <div class="input-group mb-3">
                                            <select class="form-control" v-model="newProduct.category"
                                                name="choices-button" id="choices-button" placeholder="Choose category">
                                                <option v-for="category in categories" :value="category.name"
                                                    :key="category.id">
                                                    [[ category.name ]]
                                                </option>
                                            </select>
                                        </div>

                                        <label>Price</label>
                                        <div class="input-group mb-3">
                                            <input type="number" class="form-control" placeholder="Price"
                                                v-model="newProduct.price" />
                                        </div>

                                        <label>Product Image</label>
                                        <div class="input-group mb-3">
                                            <input type="file" class="form-control" @change="onImageUpload" />
                                        </div>

                                        <div v-if="newProduct.image">
                                            <img :src="newProduct.image" alt="Selected Image" class="img-fluid mt-2"
                                                style="max-width: 100px;" />
                                        </div>
                                    </div>
                                </div>

                                <div class="text-center">
                                    <button type="button" @click="addProduct"
                                        class="btn bg-gradient-primary btn-lg btn-rounded w-100 mt-4 mb-0">
                                        Add Product
                                    </button>
                                    <button type="button" @click="close_add_product_modal"
                                        class="btn bg-gradient-warning btn-lg btn-rounded w-100 mt-4 mb-0">
                                        Close
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal for Editing Category -->
    <!-- Modal for Editing Product -->
    <!-- Modal for Editing Product -->
    <div class="modal fade" id="EditModel" tabindex="-1" role="dialog" aria-labelledby="EditModelTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Product</h5>
                    <button type="button" class="btn-close" @click="closeModal('EditModel')"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="edit-name">Name:</label>
                            <input type="text" class="form-control" v-model="editProduct.name" id="edit-name" />
                        </div>
                        <div class="form-group">
                            <label for="edit-code">Code:</label>
                            <input type="text" class="form-control" v-model="editProduct.code" id="edit-code" />
                        </div>
                        <div class="form-group">
                            <label for="edit-cost">Cost:</label>
                            <input type="text" class="form-control" v-model="editProduct.cost" id="edit-cost" />
                        </div>
                        <div class="form-group">
                            <label for="edit-price">Price:</label>
                            <input type="text" class="form-control" v-model="editProduct.price" id="edit-price" />
                        </div>
                        <div class="form-group">
                            <label for="edit-current_stock">Current Stock:</label>
                            <input type="text" class="form-control" v-model="editProduct.current_stock"
                                id="edit-current_stock" />
                        </div>
                        <label>Product Image</label>
                        <div class="input-group mb-3">
                            <input type="file" class="form-control" @change="onImageUpload" />
                        </div>

                        <div v-if="editProduct.image">
                            <img :src="editProduct.image" alt="Selected Image" class="img-fluid mt-2"
                                style="max-width: 100px;" />
                        </div>
                        <label>Category</label>
                        <div class="input-group mb-3">
                            <select class="form-control" v-model="editProduct.category">
                                <option v-for="category in categories" :value="category.name" :key="category.id">
                                    [[ category.name ]]
                                </option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" @click="closeModal('EditModel')">Cancel</button>
                    <button type="button" class="btn btn-danger" @click="updateProduct">Update Product</button>
                </div>
            </div>
        </div>
    </div>


</div>
{% endblock %}

{% block vue %}
<script>
    const { createApp } = Vue;
    createApp({
        delimiters: ['[[', ']]'],
        data() {
            return {
                newProduct: {
                    name: '',
                    code: '',
                    image: '',
                    category: '',
                    cost: '',
                    price: '',
                    current_stock: ''
                },
                editProduct: {
                    id: null,
                    name: '',
                    code: '',
                    image: '',
                    category: '',
                    cost: '',
                    price: '',
                    current_stock: ''
                },
                products: [],
                categories: []  // To store fetched categories
            };
        },
        mounted() {
            this.fetchProducts(); // Fetch products on load
            this.fetchCategories(); // Fetch categories on load
        },
        methods: {
            show_add_product_modal() {
                const modal = new bootstrap.Modal(document.getElementById('addModel'));
                modal.show();
            },
            close_add_product_modal() {
                const modal = bootstrap.Modal.getInstance(document.getElementById('addModel'));
                if (modal) {
                    modal.hide();
                }
            },
            fetchProducts() {
                fetch('/products')
                    .then(response => response.json())
                    .then(data => {
                        this.products = data;
                    })
                    .catch(error => console.error('Error fetching products:', error));
            },
            fetchCategories() {
                fetch('/categories') // Fetch categories from the backend
                    .then(response => response.json())
                    .then(data => {
                        this.categories = data; // Store categories in data
                    })
                    .catch(error => console.error('Error fetching categories:', error));
            },
            addProduct() {
                const formData = {
                    name: this.newProduct.name,
                    code: this.newProduct.code,
                    image: this.newProduct.image,
                    category: this.newProduct.category,
                    cost: this.newProduct.cost,
                    price: this.newProduct.price,
                    current_stock: this.newProduct.current_stock
                };

                fetch('/add_product', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(formData)
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.status === 'success') {
                            swal("Success!", "You added the product successfully!", "success");
                            this.fetchProducts(); // Refresh the product list
                            this.close_add_product_modal(); // Close modal
                        } else {
                            swal("Error!", data.message, "error");
                        }
                    })
                    .catch(error => console.error('Error adding product:', error));
            },
            onImageUpload(event) {
                const file = event.target.files[0];
                const reader = new FileReader();
                reader.onload = (e) => {
                    this.newProduct.image = e.target.result;
                };
                reader.readAsDataURL(file);
            },
            confirmDelete(productId) {
                swal({
                    title: "Are you sure?",
                    text: "Once deleted, you will not be able to recover this category!",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                }).then((willDelete) => {
                    if (willDelete) {
                        this.deleteProduct(productId);
                    }
                });
            },
            deleteProduct(productId) {
                axios.delete(`/delete_product/${productId}`)
                    .then(response => {
                        if (response.data.status === 'success') {
                            swal("Deleted!", "Product has been deleted!", "success");
                            this.fetchProducts();
                        } else {
                            swal("Error!", "Failed to delete product!", "error");
                        }
                    })
                    .catch(error => {
                        swal("Error!", "Failed to delete product!", "error");
                    });
            },
            // --------Edite--------------
            show_edit_product_modal(product) {
                this.editProduct = { ...product }; // Populate edit form with existing data
                this.openEditModal(); // Use the modal opening function
            },
            openEditModal() {
                const modal = new bootstrap.Modal(document.getElementById('EditModel'));
                modal.show();
            },
            // show_edit_product_modal(product) {
            //     this.editProduct = { ...product }; // Populate edit form with existing data
            //     this.openEditModal(); // Use the modal opening function
            // },
            closeModal(modalId) {
                const modal = bootstrap.Modal.getInstance(document.getElementById(modalId));
                if (modal) {
                    modal.hide();
                }
            },
            updateProduct() {
                if (!this.editProduct.name.trim() || !this.editProduct.code.trim()) {
                    swal("Error!", "Name and Code can't be empty!", "error");
                    return;
                }
                console.log(this.editProduct.image.trim())

                axios.put(`/update_product/${this.editProduct.id}`, this.editProduct)
                    .then(response => {
                        if (response.data.status === 'success') {
                            swal("Updated!", "Product updated successfully!", "success");
                            this.fetchProducts(); // Refresh the product list
                            this.closeModal('EditModel');
                        } else {
                            swal("Error!", "Failed to update product!", "error");
                        }
                    })
                    .catch(error => {
                        swal("Error!", "Failed to update product!", "error");
                    });
            }

        }
    }).mount('#app');
</script>
{% endblock %}